
/*==================Content==================*/
#main .content{
	height: 536px;
	background-color: #000;
	text-align: center;
}
	#main .content .form{
		width: 800px;
		height: 536px;
		background-color: #fff;
		margin: 0px auto;
		padding: 20px;
	}
	
	    .input{
			padding: 5px;
			width: 215px;
			border: 1px solid #000;
			border-radius: 10px;
		}
        .button{
            width: 110px;
            padding: 10px;
            border-radius: 10px;
            background-color: #000;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        }
        .validation{
            color: #f00;
            font-style: italic;
        }
        .button2{
            background-color: #fff;
            border: none;
            cursor: pointer;
            text-decoration: underline;
        }